{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Required Reset page meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />


    <!-- Email Template Meta tags -->
    <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->


    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %}" />

<!-- Email Templatye Style -->
    <style type="text/css">
      * {
          box-sizing: border-box;
          -webkit-text-size-adjust: none;
          -ms-text-size-adjust: none;
          text-size-adjust: none;
      }

      body {
          background: #f5f5f5;
          margin: 0;
          padding: 0;
          font-family: 'Rubik', sans-serif;
      }

      img {
          max-width: 100%;
          vertical-align: middle;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
          color: #414042;
          margin: 0;
      }

      p {
          color: #414042;
          font-weight: 300;
          margin: 0;
      }

      .separator {
          height: 80px;
      }

      #emailContainer {
          background-color: #fff;
      }
      #emailHeader{
        min-height: 150px;
        background-color: #4cd094;
      }

      #emailFooter {
          background-color: #fff;
      }
    </style>

  </head>

  <body>


    <!-- Email Template -->

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
      <tr>
          <td align="center" valign="middle">
              <table border="0" cellpadding="0" cellspacing="0" width="600" id="emailContainer">
                  <tr>
                      <td align="center" valign="middle">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" id="emailHeader">
                              <tr>
                                  <td align="center" valign="center">
                                    <img src="/media/swagger.svg" alt="" width="250px">
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td align="center" valign="middle">
                          <table style="padding: 60px 30px 30px;" border="0" cellpadding="30" cellspacing="0" width="100%"
                              id="emailBody">
                              <tr>
                                  <td align="center" valign="middle">
                                    <h4 style="color:#414042; font-size:25px; font-weight:700; margin:0 0 60px;">Hello from <span style="color:#4cd094;">Strechyo!</span></h4>
                                    <p style="font-size: 16px; margin-bottom:20px;line-height: 22px; text-align: left;">
                                      Please use this OTP for Verification and change your password. {{otp}}
                                    </p>

                                    <h5 style="margin-bottom:15px; text-align:left; font-size:15px; font-weight:600;">Thank you for using Strechyo!</h5>
                                    <!-- <p style="font-size: 16px; text-align:left;">example.com</p> -->
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                      <td align="center" valign="middle">
                          <table style="padding:30px;" border="0" cellpadding="30" cellspacing="0" width="100%" id="emailFooter">
                              <tr>
                                  <td align="center" valign="middle">
                                      <!-- <div class="separator"></div> -->
                                      <hr />
                                      <p style="font-size:14px; margin-top:20px;">If you have any question or need any
                                          kind of help, Please contact us <span>support@swagger.com</span></p>
                                      <p style="font-size:14px; margin-top:20px;"><img
                                              style="vertical-align: middle; margin-right:10px;" width="30"
                                              src="img/miniLogoRed.png" alt=""> © 2022 swagger. all rights reserved.
                                      </p>
                                  </td>
                              </tr>
                          </table>
                      </td>
                  </tr>
              </table>
          </td>
      </tr>
  </table>


<!-- Reset Password -->
    <div class="reset-wrapper" style="display: none;">
      <div class="reset-inner">
        <!-- <h3>stretch application</h3> -->
        {% block body %}

        {% if messages %}
        <div>
          <strong>Messages:</strong>
          <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        
        {% block content %}
        {% endblock %}
        {% endblock %}
        {% block extra_body %}
        {% endblock %}

        <!-- <div class="sign-links">
          <strong>Menu:</strong>
          <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div> -->
      </div>
    </div>
  </body>
</html>
