[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2"
django-allauth = "*"
django-extensions = "*"
django-environ = "*"
djangorestframework = "*"
django-rest-auth = "*"
drf-yasg = "*"
psycopg2-binary = "*"
pillow = "*"
django-storages = "*"
gunicorn = "*"
factory-boy = "*"
tqdm = "*"
whitenoise = "*"
djangorestframework-jwt = "*"
django-filter = "*"
facebook-sdk = "*"
python-facebook-api = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.8"
